body {
    margin: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #F7F8F9;
    color: #333333;
}

h1 {
    margin-bottom: 16px;
    font-family: "Didot", "sans-serif", Serif;
}

h2 {
    font-weight: normal;
    color: #757575;
}